/* ### VARIABLES DE COLORES ### */
:root {
    /* ## COLORES GENERALES ## */
    --morado: #683475;
    --moradoOscuro: #42214B;
    --blanco: white;
    --gris: #F0E8E8F5;
    --grisOscuro: #D3D3D3;

    /*---- COLORES PÁGINA ----*/
    --colorBg-pagina: #F0E8E8F5;
  
    /*---- COLORES NAVBAR ----*/
    --colorBg-navbarPrincipal: var(--morado); 
    --colorTexto-navbarPrincipal: var(--grisOscuro); 
    --colorHover-textoNavbarPrincipal: var(--blanco); 
    --colorHover-bloqueTextoNavbarPrincipal: var(--moradoOscuro);

    /*---- COLORES MODALES INICIAR SESION Y REGISTRO USUARIO ----*/
    --colorBg-headerModalesInicioYRegistro: var(--morado); 
    --colorBg-bodyModalesInicioYRegistro: var(--gris);
    --colorTexto-modalesInicioYRegistro: var(--blanco); 

    /*---- COLORES FOOTER ----*/
    --colorBg-footer: var(--morado);
    --colorTexto-footer: var(--grisOscuro); 
}


/*--- EDITAR COLOR DE FONDO DE LA PÁGINA ---*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--colorBg-pagina);
}

main {
    flex: 1;
}

/*--- CONFIGURAR NAVBAR ---*/
#navbarPrincipal {
    background-color: var(--colorBg-navbarPrincipal);
}

#navbarDropdown {
    position: relative; /* Necesario para el posicionamiento absoluto del dropdown */
}

#navbarDropdownMenuButton {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#navbarDropdown .dropdown-menu {
    position: absolute; 
    top: 100%; /* Posiciona el dropdown justo debajo del botón */
    left: 50%; /* Inicialmente coloca el dropdown en el centro horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar completamente el dropdown */
    margin-top: 10px; /* Opcional: agrega un poco de margen superior */
} 

#tamañoTextoNav {
    font-size: 80%;
}

#logoPagina {
    margin-left: 50px;
}

#logoPagina img {
    width: 105px;
    padding: 2%;
}

#barraBusquedaNavbar {
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 100%; /* Ocupa todo el ancho disponible */
    transition: height 0.3s; /* Agrega transición para cambios de altura */
}

#menuUsuario {
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#textoOfertas, #textoTodos, #textoFrenteAlMar, #textoCabañas {
    color: var(--colorTexto-navbarPrincipal);
    transition: color 0.3s, background-color 0.3s;
    border-radius: 20px;
}
#textoOfertas:hover, #textoTodos:hover, #textoFrenteAlMar:hover, #textoCabañas:hover {
    color: var(--colorHover-textoNavbarPrincipal); /* color de la letra al pasarle el mouse por encima */
    background-color: var(--colorHover-bloqueTextoNavbarPrincipal); /* color del bloque de fondo */
    border-radius: 20px;
}

.navbar-brand { /* .navbar-brand está asociado al logo de la pág*/
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* IMPORTANTE! ajusta todos los items de la navbar a la vez */


@media (max-width: 767.98px) {
    #navbarPrincipal {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    #navbarPrincipal .container-fluid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0px;
    }

    #navbarPrincipal .navbar-brand,
    #navbarPrincipal .collapse,
    #navbarPrincipal .dropdown,
    #navbarPrincipal #menuUsuario {
      flex: 1 1 auto;
      text-align: center;
    }

    #navbarPrincipal .search-bar {
      flex: 1 1 100%;
      order: -1;
    }

    #navbarPrincipal .dropdown .dropdown-menu {
      width: 100%;
    }

    #navbarPrincipal .navbar-nav {
      flex: 1 1 100%;
      display: flex;
      justify-content: space-around;
    }

    #navbarPrincipal .navbar-nav .nav-item {
      flex: 1 1 auto;
      text-align: center;
    }
}

@media (max-width: 940px) {
    .navbar-brand {
        margin-top: 10px; /* Cambia el margen superior */
        margin-left: auto; /* Centra horizontalmente en pantallas pequeñas */
        margin-right: auto; /* Centra horizontalmente en pantallas pequeñas */
    }
    #menuUsuario {
        margin-top: 10px; /* Cambia el margen superior */
        margin-left: auto; /* Centra horizontalmente en pantallas pequeñas */
        margin-right: auto; /* Centra horizontalmente en pantallas pequeñas */
    }

    #logoPagina {
        margin-left: auto;
    }

    #navbarPrincipal .navbar-nav .nav-item {
        flex: 1 1 15%;
    }

    .nav-item a{
        width: auto;
    }

}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 100%;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-link { /* esto de aquí se encarga de mostrar los iconos arriba del texto (ofertas/todos/etc)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* centra el contenido verticalmente */
    height: 65px; /* establece una altura fija para los elementos */
    width: 110px; /* establece una anchura fija para los elementos */
    border-radius: 10px; /* bordes redondeados */
}

#iconoOfertas {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, filter 0.3s;
}
#textoOfertas:hover #iconoOfertas {
    content: url('images/icons/ofertasFocus.png' );
    transform: scale(1.1); /* Efecto de escala para agrandar la imagen ligeramente */
}

#iconoTodos {
    margin-top: 13px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s, filter 0.3s;
}
#textoTodos:hover #iconoTodos {
    content: url('images/icons/todosFocus.png');
    transform: scale(1.1); /* Efecto de escala para agrandar la imagen ligeramente */
}

#iconoFrenteAlMar {
    margin-top: 7px;
    width: 37px;
    height: 37px;
    transition: transform 0.3s, filter 0.3s;
}
#textoFrenteAlMar:hover #iconoFrenteAlMar {
    content: url('images/icons/frente-al-marFocus.png');
    transform: scale(1.1); /* Efecto de escala para agrandar la imagen ligeramente */
}

#iconoCabañas {
    margin-top: 7px;
    width: 33px;
    height: 33px;
    transition: transform 0.3s, filter 0.3s;
}
#textoCabañas:hover #iconoCabañas {
    content: url('images/icons/cabañasFocus.png');
    transform: scale(1.1); /* Efecto de escala para agrandar la imagen ligeramente */
}

.search-input {
    width: 600px; /* Define la anchura deseada para la barra de búsqueda */
    border-radius: 25px;
}

#menuUsuario {
    margin-right: auto; /* Centra horizontalmente en pantallas medianas */
}

#dropdownMenuUsuario .dropdown-toggle::after { /* Eliminar la flecha (caret) */
    display: none; /* Oculta la flecha */
}
.custom-dropdown {
    margin-left: -45px; /* Ajusta el valor para mover el dropdown hacia la izquierda */
}


/*--- CONFIGURAR MODAL REGISTRO E INICIO DE SESIÓN ---*/
#modalRegistro .modal-header, #modalIniciarSesion .modal-header {
    background-color: var(--colorBg-headerModalesInicioYRegistro);
    color: var(--colorTexto-modalesInicioYRegistro);
}
#modalRegistro .modal-body, #modalIniciarSesion .modal-body {
    background-color: var(--colorBg-bodyModalesInicioYRegistro);
}

::placeholder, 
#lblPreguntaIniciarSesion, #lblPreguntaRegistroUsuario { /* Estilo para el placeholder de todos los inputs */
    font-style: italic; /* Hacer el texto en cursiva */
}

#botonRegistro, #botonIniciarSesion {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    width: 465px;
}
#iconoUsuario {
    width: 120px;
    height: 120px;
}
#chkMayorEdad, #chkTerminosYCondiciones {
    margin-left: 50px;
}

#botonRegistro, #botonIniciarSesion,
#registroEmail, #registroContraseña, 
#registroConfirmarContraseña, #registroNombreUsuario {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#modalRegistro .modal-body, #modalIniciarSesion .modal-body {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#modalRegistro .modal-header, #modalIniciarSesion .modal-header {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

#modalRegistro .modal-content, #modalIniciarSesion .modal-content {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#errorMensaje {
    color: red;
    font-style: italic;
    text-align: center;
    display: none;
    margin-top: 5px;
}

#errorMensajeLogin {
    color: red;
    font-style: italic;
    text-align: center;
    display: none;
    margin-top: -5px;
}

#cerrarSesion:hover{
    background-color: red;
    color: white;
    transition: background-color 0.5s ease;
}

/*--- CONFIGURAR FOOTER ---*/
.footer {
    color: var(--colorTexto-footer);
    background-color: var(--colorBg-footer);
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: auto;
}

#hoteles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px; /* Espacio alrededor del contenedor */
}