{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titulo pagina-->
    <title>{% trans "Hoteles" %}</title>
    <!-- importación bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}">
    <!-- importación style.css -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>
    {% if messages %}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-fixed p-3" style="bottom: 20px; right: 20px; z-index: 1050;">
                {% for message in messages %}
                    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
                        <div class="toast-header">
                            <strong class="me-auto">{% trans "Mensaje" %}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <!-- ### INICIO NAVBAR PRINCIPAL ### -->
    <nav class="navbar navbar-expand-md flex-column" id="navbarPrincipal">
        <!-- barra de busqueda -->
        <div class="search-bar" id="barraBusquedaNavbar">
            <input class="form-control mr-sm-2 search-input" type="search" placeholder="Buscar" id="busquedaHoteles" aria-label="Buscar">
        </div>
        <div class="container-fluid">
            <!-- logo de la página -->
            <a class="navbar-brand" href="/index/" id="logoPagina">
                <img src="{% static 'images/icons/veranium.png' %}" alt="Logo página" />
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-md-0" id="tamañoTextoNav">
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="#" data-filtro="ofertas" id="textoOfertas">
                            <img src="{% static 'images/icons/ofertasUnfocus.png' %}" class="img-fluid" alt="Ofertas" id="iconoOfertas">
                            {% trans "Ofertas" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="#" data-filtro="todos" id="textoTodos">
                            <img src="{% static 'images/icons/todosUnfocus.png' %}" class="img-fluid" alt="Todos" id="iconoTodos">
                            {% trans "Todos" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="#" data-filtro="frente_al_mar" id="textoFrenteAlMar">
                            <img src="{% static 'images/icons/frente-al-marUnfocus.png' %}" class="img-fluid" alt="Frente al Mar" id="iconoFrenteAlMar">
                            {% trans "Frente al Mar" %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="#" data-filtro="cabanas" id="textoCabañas">
                            <img src="{% static 'images/icons/cabañasUnfocus.png' %}" class="img-fluid" alt="Cabañas" id="iconoCabañas">
                            {% trans "Cabañas" %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown d-md-none" id="navbarDropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="navbarDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Menú" %}
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuButton" id="navbarDropdownMenuButton">
                <!-- Los elementos del navbar se moverán aquí en pantallas pequeñas -->
                </ul>
            </div>
            <!-- menú usuario -->
            <div class="nav-item" id="menuUsuario">
                <div class="dropdown" id="dropdownMenuUsuario">
                    <a class="navbar-brand dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="botonMenuUsuario">
                        <img src="{% static 'images/icons/menuUsuarioUnfocus.png' %}" alt="Menú Usuario" width="100"/>
                    </a>
                    <ul class="dropdown-menu custom-dropdown" aria-labelledby="menuUsuario">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'perfil' %}">{% trans "Perfil" %}</a></li>
                            {% if user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'reporte_reservas' %}">{% trans "Generar reporte" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'crear_tarjetas' %}">{% trans "Crear cupones" %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'lista_habitaciones' %}">{% trans "Generar habitaciones" %}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}" id="cerrarSesion">{% trans "Cerrar sesión" %}</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="#" id="registrate">{% trans "Regístrate" %}</a></li>
                            <li><a class="dropdown-item" href="#" id="iniciarSesion">{% trans "Iniciar sesión" %}</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">{% trans "Centro de ayuda" %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ### FIN NAVBAR PRINCIPAL ### -->
    
    <!-- ### INICIO MODAL DE REGISTRO ### -->
    <main>
        <div class="modal fade" id="modalRegistro" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Titulo del formulario de registro -->
                    <div class="modal-header flex-column align-items-center">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <img class="img-fluid" src="{% static 'images/icons/iconoUsuario.png' %}" alt="Icono usuario" id="iconoUsuario">
                        <h5 class="modal-title" id="modalRegistroLabel">{% trans "Regístrate" %}</h5>
                    </div>
                    <!-- Contenido del formulario de registro -->
                    <div class="modal-body">
                        <form id="registroForm" action="/registrarUsuario/" method="post">
                            <div class="mb-3">
                                <input 
                                type="text" 
                                class="form-control" 
                                id="registroNombreUsuario"
                                name="nombreUsuario"
                                placeholder="{% trans 'Nombre de usuario' %}"
                                required
                                >
                            </div>
                            <div class="mb-3">
                                <input 
                                type="email" 
                                class="form-control" 
                                id="registroEmail"
                                name="email"
                                placeholder="{% trans 'Correo electrónico' %}"
                                required
                                >
                            </div>
                            <div class="mb-3">
                                <input 
                                type="password" 
                                class="form-control" 
                                id="registroContraseña"
                                name="password"
                                placeholder="{% trans 'Contraseña' %}"
                                required
                                >
                            </div>
                            <div class="mb-3">
                                <input 
                                type="password" 
                                class="form-control" 
                                id="registroConfirmarContraseña"
                                name="confirmarContraseña"
                                placeholder="{% trans 'Confirmar contraseña' %}"
                                required
                                >
                            </div>
                            <div id="errorMensaje" style="display: none;">Las contraseñas no coinciden.</div>
                            <div class="form-check mb-3" id="chkMayorEdad">
                                <input class="form-check-input" type="checkbox" id="mayorEdad" required>
                                <label class="form-check-label" for="mayorEdad">
                                {% trans "Confirmo que soy mayor de 18 años" %}
                                </label>
                            </div>
                            <div class="form-check mb-3" id="chkTerminosYCondiciones">
                                <input class="form-check-input" type="checkbox" id="terminosCondiciones" required>
                                <label class="form-check-label" for="terminosCondiciones">
                                {% trans '"He leído y estoy de acuerdo con los' %}
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                                    {% trans 'términos y condiciones"' %}
                                </a>
                                </label>
                            </div>
                            <div class="mb-3 text-center">
                                <label class="form-label" id="lblPreguntaIniciarSesion">
                                {% trans "¿Ya tienes cuenta?" %} 
                                <a 
                                    href="#" 
                                    class="link-primary" 
                                    data-bs-target="#modalIniciarSesion" 
                                    data-bs-toggle="modal" 
                                    >
                                    {% trans "Inicia sesión aquí" %} 
                                </a>
                                </label>
                            </div>
                            <button 
                                type="submit" 
                                class="btn btn-primary"
                                id="botonRegistro"
                                >
                                {% trans "Crear usuario" %}
                            </button>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
        <!-- ### FIN MODAL DE REGISTRO ### -->

        <!-- ### INICIO MODAL INICIAR SESIÓN ###-->
        <div class="modal fade" id="modalIniciarSesion" tabindex="-1" aria-labelledby="modalIniciarSesionLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Titulo del formulario de iniciar sesión -->
                    <div class="modal-header flex-column align-items-center">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <img class="img-fluid" src="{% static 'images/icons/iconoUsuario.png' %}" alt="Icono usuario" id="iconoUsuario">
                        <h5 class="modal-title" id="modalIniciarSesionLabel">{% trans "Iniciar sesión" %} </h5>
                    </div>
                    <!-- Contenido del formulario de iniciar sesión -->
                    <div class="modal-body">
                        <form id="loginForm" action="/login/" method="post">
                            <div id="errorMensajeLogin"></div>
                            <div class="mb-3">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="loginEmail"
                                    name="loginUsuario"
                                    placeholder="{% trans 'Usuario' %} "
                                    required
                                >
                            </div>
                            <div class="mb-3">
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    id="loginContraseña"
                                    name="loginPassword"
                                    placeholder="{% trans 'Contraseña' %} "
                                    required
                                >
                            </div>
                            <div class="mb-3 text-center">
                                <label class="form-label" id="lblPreguntaRegistroUsuario">
                                    {% trans "¿Aún no tienes cuenta?" %}  
                                    <a 
                                        href="#" 
                                        class="link-primary" 
                                        data-bs-target="#modalRegistro" 
                                        data-bs-toggle="modal" 
                                    >
                                        {% trans "Registrate aqui" %} 
                                    </a>
                                </label>
                            </div>
                            <button 
                                type="submit" 
                                class="btn btn-primary"
                                id="botonIniciarSesion"
                            >
                                {% trans "Iniciar sesión" %} 
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ### FIN MODAL INICIAR SESIÓN ###-->

        <!-- ### INICIO CONTAINER CARTAS DE HOTELES DINAMICAS ### -->
        <div class="container mt-5">
            <div class="row row-cols-1 row-cols-md-3 g-4" id="hoteles-container">
              <!-- Las tarjetas se agregarán aquí -->
            </div>
        </div>
        <!-- ### FIN CONTAINER CARTAS DE HOTELES DINAMICAS ### -->
    </main>

    <!-- ### INICIO FOOTER ### -->
    <footer class="footer">
        <p>{% trans "Copyright 2024. Todos los derechos reservados. ProyectoHotel." %}<br>
            <form action="{% url 'set_language' %}" method="post">
                <label for="language">{% trans "Idioma:" %}</label>
                <select name="language" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% if lang.0 == LANGUAGE_CODE %} selected{% endif %}>
                        {{ lang.1 }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </p>
    </footer>
    <!-- ### FIN FOOTER ### -->

    <!-- Agregar a un js aparte! -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var isAuthenticated = "{{ user.is_authenticated }}";
        
            if (isAuthenticated === 'True') {
                document.getElementById('registrate').style.display = 'none';
                document.getElementById('iniciarSesion').style.display = 'none';
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#registroForm').submit(function(event) {
                event.preventDefault();
                var password = $('#registroContraseña').val();
                var confirmarContraseña = $('#registroConfirmarContraseña').val();
                var nombreUsuario = $('#registroNombreUsuario').val();
                var email = $('#registroEmail').val();
                var errorMensaje = $('#errorMensaje');
                if (password !== confirmarContraseña) {
                    errorMensaje.text('Las contraseñas no coinciden.');
                    errorMensaje.css('display', 'block');
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '/registrarUsuario/',
                    data: {
                        'nombreUsuario': nombreUsuario,
                        'email': email,
                        'password': password,
                        'confirmarContraseña': confirmarContraseña,
                    },
                    success: function(data) {
                        if (data.error) {
                            errorMensaje.text(data.error);
                            errorMensaje.css('display', 'block');
                        } else {
                            window.location.href = '/perfil/';
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                        errorMensaje.text('Ocurrió un error al procesar tu solicitud.');
                        errorMensaje.css('display', 'block');
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            var loginForm = $('#loginForm');
            var usuarioInput = $('#loginEmail');
            var passwordInput = $('#loginContraseña');
            var errorMessage = $('#errorMensajeLogin');
            var modalIniciarSesion = $('#modalIniciarSesion');
    
            function hideErrorMessage() {
                errorMessage.text('');
                errorMessage.css('display', 'none');
            }
    
            usuarioInput.on('input', hideErrorMessage);
            passwordInput.on('input', hideErrorMessage);
    
            loginForm.submit(function(event) {
                event.preventDefault();
                var usuario = usuarioInput.val();
                var password = passwordInput.val();
    
                $.ajax({
                    type: 'POST',
                    url: '/login/',
                    data: {
                        'loginUsuario': usuario,
                        'loginPassword': password
                    },
                    success: function(data) {
                        if (data.error) {
                            errorMessage.text(data.error);
                            errorMessage.css('display', 'block');
                        } else {
                            window.location.href = '/';
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.error('Error:', errorThrown);
                        errorMessage.text('Usuario o contraseña incorrectos.');
                        errorMessage.css('display', 'block');
                    }
                });
            });
    
            modalIniciarSesion.on('hidden.bs.modal', function () {
                usuarioInput.val('');
                passwordInput.val('');
                hideErrorMessage();
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'))
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl)
            })
            toastList.forEach(toast => toast.show())
        });
    </script>
    
    <!-- Agregar a un js aparte! -->

    <!-- importaciones de código -->
    <script 
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" 
        integrity="sha384-oBqDVmMz4fnFO9gybiiCiQRBzE74KAmO8E2yKFcEFP6wLCKkuxnDew+z4tlgd7cC" 
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/scriptGeneral.js' %}"></script>
    <script src="{% static 'js/hoteles.js' %}"></script>
</body>
</html>
